################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicrosoftOrleans/FileContentIndex
/.vs/MicrosoftOrleans/DesignTimeBuild
/.vs/MicrosoftOrleans/v17
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.AssemblyInfo.cs
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.AssemblyInfoInputs.cache
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.csproj.AssemblyReference.cache
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.sourcelink.json
/MicrosoftOrleans.Application/obj/MicrosoftOrleans.Application.csproj.nuget.dgspec.json
/MicrosoftOrleans.Application/obj/project.assets.json
/MicrosoftOrleans.Application/obj/project.nuget.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.AssemblyInfo.cs
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.AssemblyInfoInputs.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.csproj.AssemblyReference.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.sourcelink.json
/MicrosoftOrleans.Domain/bin/Debug/net8.0/MicrosoftOrleans.Domain.deps.json
/MicrosoftOrleans.Domain/bin/Debug/net8.0/MicrosoftOrleans.Domain.dll
/MicrosoftOrleans.Domain/bin/Debug/net8.0/MicrosoftOrleans.Domain.pdb
/MicrosoftOrleans.Domain/obj/Debug/net8.0/ref/MicrosoftOrleans.Domain.dll
/MicrosoftOrleans.Domain/obj/Debug/net8.0/refint
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.AssemblyInfo.cs
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.AssemblyInfoInputs.cache
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.csproj.BuildWithSkipAnalyzers
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.dll
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.pdb
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.sourcelink.json
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.AssemblyInfo.cs
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.AssemblyInfoInputs.cache
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.csproj.AssemblyReference.cache
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.sourcelink.json
/MicrosoftOrleans.Infrastructure/obj/MicrosoftOrleans.Infrastructure.csproj.nuget.dgspec.json
/MicrosoftOrleans.Infrastructure/obj/project.assets.json
/MicrosoftOrleans.Infrastructure/obj/project.nuget.cache
/MicrosoftOrleans.Client/obj/MicrosoftOrleans.Client.csproj.nuget.dgspec.json
/MicrosoftOrleans.Client/obj/project.assets.json
/MicrosoftOrleans.Client/obj/project.nuget.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.AssemblyInfo.cs
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.AssemblyInfoInputs.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.csproj.AssemblyReference.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.csproj.FileListAbsolute.txt
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.sourcelink.json
/MicrosoftOrleans.SiloHost/obj/MicrosoftOrleans.SiloHost.csproj.nuget.dgspec.json
/MicrosoftOrleans.SiloHost/obj/project.assets.json
/MicrosoftOrleans.SiloHost/obj/project.nuget.cache
/MicrosoftOrleans.Domain/obj/MicrosoftOrleans.Domain.csproj.nuget.dgspec.json
/MicrosoftOrleans.Domain/obj/project.assets.json
/MicrosoftOrleans.Domain/obj/project.nuget.cache
