################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicrosoftOrleans/FileContentIndex
/.vs/MicrosoftOrleans/DesignTimeBuild
/.vs/MicrosoftOrleans/v17
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.AssemblyInfo.cs
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.AssemblyInfoInputs.cache
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.csproj.AssemblyReference.cache
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.sourcelink.json
/MicrosoftOrleans.Application/obj/MicrosoftOrleans.Application.csproj.nuget.dgspec.json
/MicrosoftOrleans.Application/obj/project.assets.json
/MicrosoftOrleans.Application/obj/project.nuget.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.AssemblyInfo.cs
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.AssemblyInfoInputs.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.csproj.AssemblyReference.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.sourcelink.json
/MicrosoftOrleans.Domain/bin/Debug/net8.0/MicrosoftOrleans.Domain.deps.json
/MicrosoftOrleans.Domain/bin/Debug/net8.0/MicrosoftOrleans.Domain.dll
/MicrosoftOrleans.Domain/bin/Debug/net8.0/MicrosoftOrleans.Domain.pdb
/MicrosoftOrleans.Domain/obj/Debug/net8.0/ref/MicrosoftOrleans.Domain.dll
/MicrosoftOrleans.Domain/obj/Debug/net8.0/refint
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.AssemblyInfo.cs
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.AssemblyInfoInputs.cache
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.csproj.BuildWithSkipAnalyzers
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.dll
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.pdb
/MicrosoftOrleans.Domain/obj/Debug/net8.0/MicrosoftOrleans.Domain.sourcelink.json
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.AssemblyInfo.cs
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.AssemblyInfoInputs.cache
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.csproj.AssemblyReference.cache
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.sourcelink.json
/MicrosoftOrleans.Infrastructure/obj/MicrosoftOrleans.Infrastructure.csproj.nuget.dgspec.json
/MicrosoftOrleans.Infrastructure/obj/project.assets.json
/MicrosoftOrleans.Infrastructure/obj/project.nuget.cache
/MicrosoftOrleans.Client/obj/MicrosoftOrleans.Client.csproj.nuget.dgspec.json
/MicrosoftOrleans.Client/obj/project.assets.json
/MicrosoftOrleans.Client/obj/project.nuget.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.AssemblyInfo.cs
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.AssemblyInfoInputs.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.csproj.AssemblyReference.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.csproj.FileListAbsolute.txt
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.sourcelink.json
/MicrosoftOrleans.SiloHost/obj/MicrosoftOrleans.SiloHost.csproj.nuget.dgspec.json
/MicrosoftOrleans.SiloHost/obj/project.assets.json
/MicrosoftOrleans.SiloHost/obj/project.nuget.cache
/MicrosoftOrleans.Domain/obj/MicrosoftOrleans.Domain.csproj.nuget.dgspec.json
/MicrosoftOrleans.Domain/obj/project.assets.json
/MicrosoftOrleans.Domain/obj/project.nuget.cache
/MicrosoftOrleans.Application/bin/Debug/net8.0
/MicrosoftOrleans.Application/obj/Debug/net8.0
/.vs/ProjectEvaluation
/MicrosoftOrleans.Application/obj/Debug/net8.0/MicrosoftOrleans.Application.assets.cache
/MicrosoftOrleans.Client/bin/Debug/net8.0
/MicrosoftOrleans.Client/obj/Debug/net8.0/apphost.exe
/MicrosoftOrleans.Client/obj/Debug/net8.0/Microsof.6B637959.Up2Date
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.AssemblyInfo.cs
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.AssemblyInfoInputs.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.assets.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.csproj.AssemblyReference.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.csproj.BuildWithSkipAnalyzers
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.csproj.CoreCompileInputs.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.csproj.FileListAbsolute.txt
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.dll
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.GeneratedMSBuildEditorConfig.editorconfig
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.genruntimeconfig.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.GlobalUsings.g.cs
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.pdb
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Api.sourcelink.json
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.assets.cache
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.GeneratedMSBuildEditorConfig.editorconfig
/MicrosoftOrleans.Client/obj/Debug/net8.0/MicrosoftOrleans.Client.GlobalUsings.g.cs
/MicrosoftOrleans.Client/obj/Debug/net8.0/ref/MicrosoftOrleans.Api.dll
/MicrosoftOrleans.Client/obj/Debug/net8.0/refint/MicrosoftOrleans.Api.dll
/MicrosoftOrleans.Client/obj/MicrosoftOrleans.Api.csproj.nuget.dgspec.json
/MicrosoftOrleans.Client/obj/MicrosoftOrleans.Api.csproj.nuget.g.props
/MicrosoftOrleans.Client/obj/MicrosoftOrleans.Api.csproj.nuget.g.targets
/MicrosoftOrleans.Client/obj/MicrosoftOrleans.Client.csproj.nuget.g.props
/MicrosoftOrleans.Client/obj/MicrosoftOrleans.Client.csproj.nuget.g.targets
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/Microsof.F887A30D.Up2Date
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.assets.cache
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.dll
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/MicrosoftOrleans.Infrastructure.pdb
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/ref/MicrosoftOrleans.Infrastructure.dll
/MicrosoftOrleans.Infrastructure/obj/Debug/net8.0/refint/MicrosoftOrleans.Infrastructure.dll
/MicrosoftOrleans.SiloHost/bin/Debug/net8.0
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/ref/MicrosoftOrleans.SiloHost.dll
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/refint/MicrosoftOrleans.SiloHost.dll
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/apphost.exe
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/Microsof.24BD73B0.Up2Date
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.assets.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.csproj.BuildWithSkipAnalyzers
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.dll
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.GeneratedMSBuildEditorConfig.editorconfig
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.genruntimeconfig.cache
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.GlobalUsings.g.cs
/MicrosoftOrleans.SiloHost/obj/Debug/net8.0/MicrosoftOrleans.SiloHost.pdb
/MicrosoftOrleans.SiloHost/obj/MicrosoftOrleans.SiloHost.csproj.nuget.g.props
/MicrosoftOrleans.SiloHost/obj/MicrosoftOrleans.SiloHost.csproj.nuget.g.targets
/MicrosoftOrleans.Infrastructure/bin/Debug/net8.0
/MicrosoftOrleans.Infrastructure/obj/MicrosoftOrleans.Infrastructure.csproj.nuget.g.props
/MicrosoftOrleans.Infrastructure/obj/MicrosoftOrleans.Infrastructure.csproj.nuget.g.targets
